{%extends 'base.html'%}
{% load static %}
{%block content%}
    <section class="main-container">
      <div class="first_container">
        <div>
          <ul class="first_ul">
            <li>
              <img
                height="50"
                width="50"
                class="first_ul_img"
                src="{% static 'img/team-1.jpg' %}"
                alt="image"
              />
              <p>
                A999 wants to view <br />
                your finances. <span class="li_date">jan 15</span>
              </p>
              <p class="first_ul_second_p">view</p>
            </li>
            <li>
              <img
                height="50"
                width="50"
                class="first_ul_img"
                src="{% static 'img/team-1.jpg' %}"
                alt="image"
              />
              <p>
                A999 wants to view <br />
                your finances. <span class="li_date">jan 15</span>
              </p>
              <p class="first_ul_second_p">view</p>
            </li>
            <li>
              <img
                height="50"
                width="50"
                class="first_ul_img"
                src="{% static 'img/team-1.jpg' %}"
                alt="image"
              />
              <p>
                A999 wants to view <br />
                your finances. <span class="li_date">jan 15</span>
              </p>
              <p class="first_ul_second_p">view</p>
            </li>
          </ul>
        </div>
        <div>
          <div>
            <ul class="second_middle_div">
              <li>
                <p>Items</p>
                <h5 class="li_date">1-10</h5>
              </li>
              <li>
                <p>Friends</p>
                <h5 class="li_date">1-10</h5>
              </li>
            </ul>
          </div>
          <div>
            <ul class="second_center_div">
              <li>
                <p>Finances</p>
                <h5 class="li_date">1-10</h5>
              </li>
              <li>
                <img
                  class="logo"
                  src="{% static 'img/20241217_151326.png' %}"
                  alt=""
                />
              </li>
              <li>
                <p>Ideas</p>
                <h5 class="li_date">1-10</h5>
              </li>
            </ul>
          </div>
          <div>
            <ul class="second_middle_div">
              <li>
                <p>Music</p>
                <h5 class="li_date">1-10</h5>
              </li>
              <li>
                <p>Places</p>
                <h5 class="li_date">1-10</h5>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <ul class="first_ul">
            <li>
              <img
                height="50"
                width="50"
                src="{% static 'img/team-1.jpg' %}"
                src="./images/team-1.jpg"
                alt="image"
              />
              <p>
                A999 wants to view <br />
                your finances. <span class="li_date">jan 15</span>
              </p>
              <p class="first_ul_second_p">view</p>
            </li>
            <li>
              <img
                height="50"
                width="50"
                class="first_ul_img"
                src="{% static 'img/team-1.jpg' %}"
                alt="image"
              />
              <p>
                A999 wants to view <br />
                your finances. <span class="li_date">jan 15</span>
              </p>
              <p class="first_ul_second_p">view</p>
            </li>
            <li>
              <img
                height="50"
                width="50"
                class="first_ul_img"
                src="{% static 'img/team-1.jpg' %}"
                alt="image"
              />
              <p>
                A999 wants to view <br />
                your finances. <span class="li_date">jan 15</span>
              </p>
              <p class="first_ul_second_p">view</p>
            </li>
          </ul>
        </div>
      </div>
      <section class="second_section">
        <div class="second_section_div">
          <div>
            <p>Index</p>
          </div>
          <div>
            <p>HOT99</p>
            <form action="">
              <input type="text" />
            </form>
          </div>
          <div>
            <p>00:00 EST</p>
          </div>
        </div>
      </section>
      <section class="middle-section">
        <div class="middle-section-first-div">
        <div class="row-text">
          <p>AAA</p>
          <p>001</p>
          <p>002</p>
          <p>003</p>
          <p>004</p>
          <p>005</p>
          <p>006</p>
          <p>007</p>
          <p>009</p>
          <p>010</p>
        </div>
        <div class="row-text">
          <p>AAA</p>
          <p>001</p>
          <p>002</p>
          <p>003</p>
          <p>004</p>
          <p>005</p>
          <p>006</p>
          <p>007</p>
          <p>009</p>
          <p>010</p>
        </div>
        <div class="row-text">
          <p>AAA</p>
          <p>001</p>
          <p>002</p>
          <p>003</p>
          <p>004</p>
          <p>005</p>
          <p>006</p>
          <p>007</p>
          <p>009</p>
          <p>010</p>
        </div>
        <div class="row-text">
          <p>AAA</p>
          <p>001</p>
          <p>002</p>
          <p>003</p>
          <p>004</p>
          <p>005</p>
          <p>006</p>
          <p>007</p>
          <p>009</p>
          <p>010</p>
        </div>
        <div class="row-text">
          <p>AAA</p>
          <p>001</p>
          <p>002</p>
          <p>003</p>
          <p>004</p>
          <p>005</p>
          <p>006</p>
          <p>007</p>
          <p>009</p>
          <p>010</p>
        </div>
        <div class="row-text">
          <p>AAA</p>
          <p>001</p>
          <p>002</p>
          <p>003</p>
          <p>004</p>
          <p>005</p>
          <p>006</p>
          <p>007</p>
          <p>009</p>
          <p>010</p>
        </div>
      </div>
    </section>
    <section class="last-section">
      <div>
        <p>Nunity</p>
        <p>Flex Your Taste</p>
        <p>Sign Out</p>
      </div>
    </section>
    </section>
    {%endblock content%}
