<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <section class="register-section">
        <div class="login-head">
            <p>Nunity</p>
            <p>A unified point to share, discuss and sell "taste"<br> that shape our individuality.</p>
        </div>
    <form class="register-form" action="">
        <input type="email" name="" id="" placeholder="Username" required><br>
        <input type="email" name="" id="" placeholder="Email" required><br>
        <input type="text" name="" id="" placeholder="Device" required><br>
        <section class="radio-form">
            <input type="radio" name="gender">Male
            <input type="radio" name="gender">Female
        </section>
        <label class="date-birth" for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>
        <input type="password" name="" id="" placeholder="Password" required><br>
        <input type="password" name="" id="" placeholder="Re-enter password" required><br>
        <button>Create account</button><br>
        <div class="h-line"></div>
        <div class="container-new-account">
        </div>
    </form>
</section>
</body>
</html>